<script setup lang="ts">

</script>

<template>
    <div class="slidev-layout left-right" style="overflow: auto">
        <div style="display: flex;flex-direction: column;height: 100%;">
            <div>
                <slot/>
            </div>
            <div class="left-right-container">
                <div class="left-container">
                    <slot name="left"/>
                </div>
                <div class="right-container">
                    <slot name="right"/>
                </div>
            </div>
        </div>

    </div>
</template>

<style scoped>
.left-right-container {
    display: flex;
    gap: 14px;
    align-items: center;
    justify-content: space-between;
}

.left-container, .right-container {
    flex: 1;
    overflow: auto;
}
</style>